*.DS_Store
*.bat
*.iml
*.iws
*.ipr
*rebel.xml
*.class
*.classpath
*.project
.idea/
node_modules/

.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
yarn.lock
package-lock.json
*bak

.vscode/
logs/
tmp/
dist
dist/
