{% extends "layout/layout.html" %}


{% block head %}
<head>
    {{ super() }}
</head>
{% endblock %}


{% block body %}
<body>
    <div id="app">
        {% import "components/shortcut/index.html" as shortcut %}
        {% import "components/header/index.html" as header %}
        {% import "components/nav/index.html" as nav %}
        {% import "components/category/index.html" as category %}
        {% import "components/carousel/index.html" as carousel %}

        {{ shortcut.index(username=userInfo.username, isIndex=true, __=__, site=site) }}
        {{ header.index(isIndex=true, __=__) }}
        {{ nav.index('index',isIndex=true, __=__) }}
        <div class="container">
            {{ category.index(categoryData, __=__) }}
            <div id="banner">
                {{ carousel.banner(bannerData.records) }}
                <div class="sub-banner">
                    {% for item in activityData.records %}
                    <a href="{{item.link}}" class="box" title="{{item.name}}">
                        <img src="{{item.fileUrl}}" alt="{{item.name}}">
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div id="side">
                <div class="card user">
                    {% if userInfo.user_id %}
                    <div class="card-body">
                        <div class="row">
                            <div class="fl">
                                <div class="user-avatar">
                                    <img src="https://static.v-buy.com/assets/img/avatar-default.png" alt="">
                                </div>
                            </div>
                            <div class="fl meta">
                                <div class="name">Hi, <a href="/user/home">{{userInfo.username}}</a></div>
                                <div class="hi">欢迎来到伟德芯城</div>
                            </div>
                        </div>
                        <div class="btns">
                            <a href="/user/home" class="btn">会员中心</a>
                            <a href="/user/order" class="btn">我的订单</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="card-body">
                        <div class="row">
                            <div class="fl">
                                <div class="user-avatar">
                                    <img src="https://static.v-buy.com/assets/img/avatar-default.png" alt="">
                                </div>
                            </div>
                            <div class="fl meta">
                                <div class="name">Hi, 尊敬的客户</div>
                                <div class="hi">欢迎来到伟德芯城</div>
                            </div>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="btn login">登录</a>
                            <a href="/register" class="btn">注册</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="card news">
                    <div class="card-title">伟德动态</div>
                    <div class="card-body">
                        <div class="item row">
                            <div class="fl text ellipsis">
                                <a href="/media/1" title="2018中国产业互联网领袖年会盛大召开！伟德芯城喜获大奖！">2018中国产业互联网领袖年会盛大召开！伟德芯城喜获大奖！</a>
                            </div>
                            <div class="fr date">01-23</div>
                        </div>
                        <div class="item row">
                            <div class="fl text ellipsis">
                                <a href="/media/2" title="反洗钱声明">伟德芯城反洗钱声明</a>
                            </div>
                            <div class="fr date">09-07</div>
                        </div>
                        <div class="item row">
                            <div class="fl text ellipsis">
                                <a href="/media/3" titl="美光部分芯片被判侵权暂在华禁售，美国芯片股集体下跌">美光部分芯片被判侵权暂在华禁售，美国芯片股集体下跌</a>
                            </div>
                            <div class="fr date">07-04</div>
                        </div>
                        <div class="item row">
                            <div class="fl text ellipsis">
                                <a href="/media/4" title="联合声明">伟德芯城联合声明</a>
                            </div>
                            <div class="fr date">06-14</div>
                        </div>
                    </div>
                </div>
                <div class="card service">
                    <div class="card-title">服务承诺</div>
                    <div class="card-body">
                        <div class="promise" style="background: url('https://static.v-buy.com/assets/img/promise.png') 50% 0px no-repeat #fff;"></div>
                    </div>
                </div>
            </div>
            <div id="content">
                <div class="title">
                    <span class="text">联营供应商</span>
                    <span class="sub">海量物料 一站齐购</span>
                </div>
                <div class="row supplier">
                    <div class="fl">
                        <div class="banner-box" style="background: url('https://static.v-buy.com/assets/img/banner-box01.png') 50% 0px no-repeat #fff;"></div>
                    </div>
                    <div class="content-box fl row">
                        {% for item in supplierData.records %}
                        <a href="{{item.link}}" class="box fl" style="background: url('{{item.fileUrl}}') 50% 0px no-repeat #fff;">
                            <div class="text">{{item.name}}</div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="title">
                    <span class="text">自营现货</span>
                    <span class="sub">小批量起订 极速发货</span>
                </div>
                <div class="row vadas">
                    <div class="fl">
                        <div class="banner-box" style="background: url('https://static.v-buy.com/assets/img/banner-box02.png') 50% 0px no-repeat #fff;"></div>
                    </div>
                    <div class="content-box fl row">
                        {% for item in vadasData %}
                        <a href="/detail/{{item.id}}" class="box fl">
                            <div class="img-box">
                                <div class="img" style="background: url('{{item.image if item.image else 'https://static.v-buy.com/assets/img/no-img.png'}}'); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
                            </div>
                            <div class="text">{{item.partNo}}</div>
                            <div class="price">{{ '$' if item.currency === 'USD' else '￥'}}{{item.price}}</div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="title">
                    <span class="text">合作伙伴</span>
                    <span class="sub">名企合作 品质保证</span>
                </div>
                <div class="row cooperation">
                    <div class="content-box fl row">
                        {% for item in partnerData.records %}
                        <a href="#" class="box fl" style="background: url({{item.fileUrl}}) 50% 0px no-repeat #fff;"></a>
                        {% endfor %}
                    </div>
                    <div class="fl">
                        <form id="overstock">
                            <div class="overstock-title">我有呆滞料</div>
                            <div class="overstock-body">
                                <div class="text">提交您的联系方式,我们会联系您！</div>
                                <div class="item-input">
                                    <input name="company" type="text" placeholder="公司名称">
                                </div>
                                <div class="item-input">
                                    <select name="type" placeholder="公司类型">
                                        {% for item in dictData %}
                                        <option value="{{item.id}}">{{item.text}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="item-input">
                                    <input name="name" type="text" placeholder="联系人">
                                </div>
                                <div class="item-input">
                                    <input name="phone" type="text" placeholder="联系方式">
                                </div>
                                <div class="item-input">
                                    <textarea name="remark" placeholder="备注"></textarea>
                                </div>
                                <div class="item-input">
                                    <div class="btn submit">提交</div>
                                </div>
                                <div class="customer-service">
                                    <span><i class="icon icon-service"></i>客服热线: {{site[__('env')].phone}}</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% include "components/footer/index.html" %}
    </div>

    {{ super() }}
</body>
{% endblock %}
