{% extends '../../layout/layout.html' %}

{% block head %}
<head>
    {% include '../../layout/meta.html' %}
    <title>{{title}}</title>
<link href="/assets/css/page1.b86cdf90.css?b86cdf90ff267bc05560" rel="stylesheet"></head>
{% endblock %}

{% block body %}
<body>
    <img src="/assets/img/none.png" alt="" srcset="">
    <p>fasfas </p>
<script type="text/javascript" src="/assets/js/common.b86cdf90ff267bc05560.js?b86cdf90ff267bc05560"></script><script type="text/javascript" src="/assets/js/page1.b86cdf90ff267bc05560.js?b86cdf90ff267bc05560"></script></body>
{% endblock %}