<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<link href="/assets/css/page2.b86cdf90.css?b86cdf90ff267bc05560" rel="stylesheet"></head>
<body>
    <p>page1</p>
<script type="text/javascript" src="/assets/js/common.b86cdf90ff267bc05560.js?b86cdf90ff267bc05560"></script><script type="text/javascript" src="/assets/js/page2.b86cdf90ff267bc05560.js?b86cdf90ff267bc05560"></script></body>
</html>